Virtual_EDW/References/schema/5.0/ygraphml.xsd

<?xml version="1.0"?>

<xs:schema   
             targetNamespace="http://graphml.graphdrawing.org/xmlns"

             xmlns="http://graphml.graphdrawing.org/xmlns"
             xmlns:g="http://graphml.graphdrawing.org/xmlns"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:y="http://www.yworks.com/xml/yfiles-common/3.0"
             elementFormDefault="qualified"
             attributeFormDefault="unqualified"
>

<xs:import namespace="http://www.w3.org/1999/xlink" 
           schemaLocation="xlink.xsd"/>

<xs:import namespace="http://www.yworks.com/xml/yfiles-common/3.0" schemaLocation="yfiles-attr.xsd" />

<xs:attributeGroup name="common.extra.attrib"/>


<xs:attributeGroup name="graphml.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="data.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="key.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
  <xs:attributeGroup ref="key.attributes.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="default.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="graph.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
  <xs:attributeGroup ref="graph.parseinfo.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="node.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
  <xs:attributeGroup ref="node.parseinfo.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="edge.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="port.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="hyperedge.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="endpoint.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
</xs:attributeGroup>

<xs:attributeGroup name="locator.extra.attrib">
  <xs:attributeGroup ref="common.extra.attrib"/>
</xs:attributeGroup>

<xs:complexType name="data-extension.type" mixed="true">
  <xs:sequence>
    <xs:any minOccurs="0" processContents="lax"/>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="data.type" final="#all">
  <xs:complexContent mixed="true">
    <xs:extension base="data-extension.type">
      <xs:attribute name="key" type="xs:NMTOKEN" use="required"/>
      <xs:attribute name="id" type="xs:NMTOKEN" use="optional"/>
      <xs:attributeGroup ref="data.extra.attrib"/>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="default.type" final="#all">
  <xs:complexContent mixed="true">
    <xs:extension base="data-extension.type">
      <xs:attributeGroup ref="default.extra.attrib"/>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:simpleType name="key.for.type" final="#all">
  <xs:restriction base="xs:NMTOKEN">
    <xs:enumeration value="all"/>
    <xs:enumeration value="graphml"/>
    <xs:enumeration value="graph"/>
    <xs:enumeration value="node"/>
    <xs:enumeration value="edge"/>
    <xs:enumeration value="hyperedge"/>
    <xs:enumeration value="port"/>
    <xs:enumeration value="endpoint"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="key.type" final="#all">
  <xs:sequence>
    <xs:element ref="desc" minOccurs="0"/>    
    <xs:element ref="default" minOccurs="0"/>
  </xs:sequence>
  <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
  <xs:attribute name="for" type="key.for.type" default="all"/>
  <xs:attributeGroup ref="key.extra.attrib"/>
</xs:complexType>

<xs:complexType name="graphml.type" final="#all">
  <xs:sequence>
    <xs:element ref="desc" minOccurs="0"/>    
    <xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="graph"/>
        <xs:element ref="data"/>
      </xs:choice>
    </xs:sequence>
  </xs:sequence>
  <xs:attributeGroup ref="graphml.extra.attrib"/>
</xs:complexType>


<xs:simpleType name="graph.edgedefault.type" final="#all">
  <xs:restriction base="xs:NMTOKEN">
    <xs:enumeration value="directed"/>
    <xs:enumeration value="undirected"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="graph.type" final="#all">
  <xs:sequence>
    <xs:element ref="desc" minOccurs="0"/>
    <xs:choice>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="data"/>
          <xs:element ref="node"/>
          <xs:element ref="edge"/>
          <xs:element ref="hyperedge"/>
        </xs:choice>
      </xs:sequence>
      <xs:element ref="locator"/>
    </xs:choice>
  </xs:sequence>
  <xs:attributeGroup ref="graph.extra.attrib"/>
  <xs:attribute name="id" type="xs:NMTOKEN"/>
  <xs:attribute name="edgedefault" 
                type="graph.edgedefault.type" use="optional"/>
</xs:complexType>

<xs:complexType name="node.type" final="#all">
  <xs:sequence>
    <xs:element ref="desc" minOccurs="0"/>
    <xs:choice>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="data"/>
          <xs:element ref="port"/>
        </xs:choice>
        <xs:element ref="graph" minOccurs="0"/>
      </xs:sequence>
      <xs:element ref="locator"/>
    </xs:choice>
  </xs:sequence>
  <xs:attributeGroup ref="node.extra.attrib"/>
  <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
</xs:complexType>

<xs:complexType name="port.type" final="#all">
  <xs:sequence>
    <xs:element ref="desc" minOccurs="0" />
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="data" />
      <xs:element ref="port" />
    </xs:choice>
  </xs:sequence>
  <xs:attributeGroup ref="port.extra.attrib"/>
  <xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
</xs:complexType>

<xs:complexType name="edge.type" final="#all">
  <xs:sequence>
    <xs:element ref="desc" minOccurs="0"/>
    <xs:element ref="data" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="graph" minOccurs="0"/>
  </xs:sequence>
  <xs:attributeGroup ref="edge.extra.attrib"/>
  <xs:attribute name="id" type="xs:NMTOKEN"/>
  <xs:attribute name="directed" type="xs:boolean"/>
  <xs:attribute name="source" type="xs:NMTOKEN" use="required"/>
  <xs:attribute name="target" type="xs:NMTOKEN" use="required"/>
  <xs:attribute name="sourceport" type="xs:NMTOKEN"/>
  <xs:attribute name="targetport" type="xs:NMTOKEN"/>
</xs:complexType>

<xs:complexType name="hyperedge.type" final="#all">
  <xs:sequence>
    <xs:element ref="desc" minOccurs="0" />
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="data" />
      <xs:element ref="endpoint" />
    </xs:choice>
    <xs:element ref="graph" minOccurs="0" />
  </xs:sequence>
  <xs:attributeGroup ref="hyperedge.extra.attrib"/>
  <xs:attribute name="id" type="xs:NMTOKEN"/>
</xs:complexType>  

<xs:simpleType name="endpoint.type.type" final="#all">
  <xs:restriction base="xs:NMTOKEN">
    <xs:enumeration value="in"/>
    <xs:enumeration value="out"/>
    <xs:enumeration value="undir"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="endpoint.type" final="#all">
  <xs:sequence>
    <xs:element ref="desc" minOccurs="0" />
  </xs:sequence>
  <xs:attributeGroup ref="endpoint.extra.attrib"/> 
  <xs:attribute name="id" type="xs:NMTOKEN"/>
  <xs:attribute name="port" type="xs:NMTOKEN"/>
  <xs:attribute name="node" type="xs:NMTOKEN" use="required"/>
  <xs:attribute name="type" type="endpoint.type.type" default="undir"/>
</xs:complexType>

<xs:complexType name="locator.type" final="#all">
  <xs:attributeGroup ref="locator.extra.attrib"/>
  <xs:attribute ref="xlink:href" use="required"/>
  <xs:attribute ref="xlink:type"/>
</xs:complexType>

<!--========================================================-->

<xs:element name="desc" type="xs:string" block="#all"/>

<xs:element name="locator" type="locator.type" block="#all"/>

<xs:element name="data" type="data.type" block="#all">
  <xs:unique name="data_data_key_unique">
    <xs:selector xpath="./g:data"/>
    <xs:field xpath="@key"/>
  </xs:unique>
</xs:element>

<xs:element name="key" type="key.type" block="#all"/>

<xs:element name="default" type="default.type" block="#all"/>

<xs:element name="graphml" type="graphml.type" block="#all">
  <xs:unique name="graphml_data_key_unique">
    <xs:selector xpath="./g:data"/>
    <xs:field xpath="@key"/>
  </xs:unique>

  <xs:key name="key_id_key"> 
    <xs:selector xpath=".//g:key"/>
    <xs:field xpath="@id"/>
  </xs:key>

  <xs:unique name="graph_id_unique"> 
    <xs:selector xpath=".//g:graph"/>
    <xs:field xpath="@id"/>
  </xs:unique>

  <xs:keyref name="data_key_ref" refer="key_id_key">
    <xs:selector xpath=".//g:data"/>
    <xs:field xpath="@key"/>
  </xs:keyref> 
  
</xs:element>

<xs:element name="graph" type="graph.type" block="#all">
  <xs:unique name="graph_data_key_unique">
    <xs:selector xpath="./g:data"/>
    <xs:field xpath="@key"/>
  </xs:unique>

  <xs:key name="node_id_key">
    <xs:selector xpath=".//g:node"/>
    <xs:field xpath="@id"/>
  </xs:key>
  
  <xs:unique name="edge_id_unique">
    <xs:selector xpath=".//g:edge"/>
    <xs:field xpath="@id"/>
  </xs:unique>

  <xs:unique name="hyperedge_id_unique"> 
    <xs:selector xpath=".//g:hyperedge"/>
    <xs:field xpath="@id"/>
  </xs:unique>

  <xs:unique name="endpoint_id_unique">
    <xs:selector xpath=".//g:endpoint"/>
    <xs:field xpath="@id"/>
  </xs:unique>
  
  <xs:keyref name="endpoint_node_ref" refer="node_id_key">
    <xs:selector xpath=".//g:endpoint"/>
    <xs:field xpath="@node"/>
  </xs:keyref>
</xs:element>

<xs:element name="node" type="node.type" block="#all">
  <xs:unique name="port_name_key_unique">
    <xs:selector xpath="./g:port"/>
    <xs:field xpath="@name"/>
  </xs:unique>
  
  <xs:unique name="node_data_key_unique">
    <xs:selector xpath="./g:data"/>
    <xs:field xpath="@key"/>
  </xs:unique>

</xs:element>


<xs:element name="port" type="port.type" block="#all">
  <xs:unique name="port_data_key_unique">
    <xs:selector xpath="./g:data"/>
    <xs:field xpath="@key"/>
  </xs:unique>
</xs:element>


<xs:element name="edge" type="edge.type" block="#all">
  <xs:unique name="edge_data_key_unique">
    <xs:selector xpath="./g:data"/>
    <xs:field xpath="@key"/>
  </xs:unique>
</xs:element>

<xs:element name="hyperedge" type="hyperedge.type" block="#all">
  <xs:unique name="hyperedge_data_key_unique">
    <xs:selector xpath="./g:data"/>
    <xs:field xpath="@key"/>
  </xs:unique>
</xs:element>

<xs:element name="endpoint" type="endpoint.type" block="#all"/>

  <xs:simpleType name="graph.order.type"  final="#all">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="free"/>
      <xs:enumeration value="nodesfirst"/>
      <xs:enumeration value="adjacencylist"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="graph.nodes.type"  final="#all">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="graph.edges.type" final="#all">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="graph.maxindegree.type" final="#all">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="graph.maxoutdegree.type" final="#all">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="graph.nodeids.type"  final="#all">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="canonical"/>
      <xs:enumeration value="free"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="graph.edgeids.type"  final="#all">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="canonical"/>
      <xs:enumeration value="free"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:attributeGroup name="graph.parseinfo.attrib">
    <xs:attribute name="parse.nodeids" type="graph.nodeids.type"/>
    <xs:attribute name="parse.edgeids" type="graph.edgeids.type"/>
    <xs:attribute name="parse.order" type="graph.order.type"/>
    <xs:attribute name="parse.nodes" type="graph.nodes.type"/>
    <xs:attribute name="parse.edges" type="graph.edges.type"/>
    <xs:attribute name="parse.maxindegree" type="graph.maxindegree.type" use="optional"/>
    <xs:attribute name="parse.maxoutdegree" type="graph.maxoutdegree.type" use="optional"/>
  </xs:attributeGroup>
  
  <xs:simpleType name="node.indegree.type" final="#all">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:simpleType name="node.outdegree.type" final="#all">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>

  <xs:attributeGroup name="node.parseinfo.attrib">
    <xs:attribute name="parse.indegree" type="node.indegree.type" use="optional"/>
    <xs:attribute name="parse.outdegree" type="node.outdegree.type" use="optional"/>
  </xs:attributeGroup>

  <xs:simpleType name="key.name.type" final="#all">
    <xs:restriction base="xs:NMTOKEN"/>
  </xs:simpleType>

  <xs:simpleType name="key.type.type" final="#all">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="int"/>
      <xs:enumeration value="long"/>
      <xs:enumeration value="float"/>
      <xs:enumeration value="double"/>
      <xs:enumeration value="string"/>
    </xs:restriction>

  </xs:simpleType>


  <xs:attributeGroup name="key.attributes.attrib">
    <xs:attribute name="attr.name" type="key.name.type" use="optional"/>
    <xs:attribute name="attr.type" type="key.type.type" use="optional"/>
    <xs:attribute ref="y:attr.uri" use="optional"/>
  </xs:attributeGroup>
</xs:schema>
